body {
    background-color: black;
    background-image: url("ciel.png");
    overflow: hidden;
    font-size: 30px;
    font-weight: bold;
    color: #ffcd03;
    perspective: 300px;
}

.starwars {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    transform: rotateX(30deg);
    animation: Crawl 30s ease-in;
    opacity: 0;
}

.phrase {
    animation: fade 6s;
    opacity: 0;
    color: blue;
}

@keyframes Crawl {
    0% {
        transform: rotateX(30deg) translateY(1000px);
        opacity: 1;
    }

    100% {
        transform: rotateX(30deg) translateY(-2000px);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
